.start-95{
   left:93%; 
}
.fs-7{
    font-size: 14px;
}
.toasts {
    top: 25px;
    margin-left: auto;
    /* background-color: rgba(60, 75, 211, 1); */
    /* color: red; */
    
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.toastClose{
    margin-left: 10px;
    background: none;
    border: none;
    /* color: #721c24; */
    cursor: pointer;
}
@media (max-width: 576px) { /* Adjust the max-width as needed */
    .toasts {
        top: 30px;      /* Margin from the top */
        left: auto;     /* Center align */
        right: auto;    /* Center align */
        margin-left: auto;  /* Left auto for centering */
        margin-right: auto; /* Right auto for centering */
    }
}

/* Styles for larger screens */
@media (min-width: 577px) { /* Adjust the min-width as needed */
    .toasts {
        bottom: 50px;   /* Margin from the bottom */
        right: 50px;    /* Margin from the right */
    }
}